In [1]:
print("i am python, i coded everything")

i am python, i coded everything

In [3]:
a=500
print("the number is:",a)
print("the number in string form"+str(a))

the number is: 500
the number in string form500

In [4]:
print("{} is the number".format(a))

500 is the number

In [6]:
a=2
b=4
print("the values is {} and  {}".format(a,b))

the values is 2 and  4

In [8]:
print("{} forst value is double of second number  {} ".format(a,b))

2 forst value is double of second number  4

In [10]:
print("{1} is double of another one is {0}".format(a,b))

4 is double of another one is 2

In [11]:
print("{second} is double of first number {first}".format(first=a,second=b))

4 is double of first number 2

In [13]:
print(" {0} :welcome to : {1},we are learning:  {subject}".format("ram","ds",subject="python"))

 ram :welcome to : ds,we are learning:  python

In [15]:
print("{:+f}:{:+f}".format(-3.13,-3.11))

-3.130000:-3.110000

In [16]:
a=int(input("input enter number:"))
print("enter the number is {}".format(a))

input enter number: 100

enter the number is 100

In [17]:
string=input("enter the string:")
print("entered value of string",string)
print("type of string",type(string))

enter the string: python

entered value of string python
type of string <class 'str'>

In [19]:
b = int(input("enter the number:"))
print("class strength is :",b)
print("type is:",type(b))

enter the number: 30

class strength is : 30
type is: <class 'int'>